.App {
  min-height: 100vh;
  display: flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.Player {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 180px;
/*  border: 1px solid #F06292;
  border-radius: 10px;*/
}

.CtrlPanel {
  margin: 8px;
  display: flex;
}

.Cassette {
  display: flex;
  justify-content: center;
}